@model List<Domain.Models.CartItem>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@* <head>
    <meta charset="utf-8" />
    <title>My Cart</title>
    <link rel="stylesheet" href="~/css/cart.css" />
</head> *@
<body>

    <header>
        <div class="header-left">StyleBay</div>
        <title>My Cart</title>
        <link rel="stylesheet" href="/css/Cart.css" />
        <div class="header-right">
            <button class="header-btn" onclick="location.href='/User/Index'">
                Back to Home
            </button>
        </div>

    </header>

    <h2 class="cart-title">My Cart</h2>

    @if (!Model.Any())
    {
        <p class="empty-cart">Your cart is empty</p>
    }
    else
    {
        <div class="cart-container">

            @foreach (var item in Model)
            {
                <div class="cart-row">

                    <!-- IMAGE -->
                    <div class="cart-img">
                        <img src="@Url.Content(item.Dress.ImageName.Replace("/images/", "/Images/"))"
                             alt="@item.Dress.Name" />
                    </div>

                    <!-- DETAILS -->
                    <div class="cart-details">
                        <h3>@item.Dress.Name</h3>
                        <h4>@item.Dress.Description</h4>
                        <p class="seller">Seller: StyleBay Fashion</p>
                        <p class="delivery">Delivery in 3–5 days</p>
                        <h3>@item.Dress.Price</h3>
                    </div>



                    <!-- ACTIONS -->
                    <div class="cart-actions">

                        <form method="post" action="/Cart/Remove">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="remove-btn">REMOVE</button>
                        </form>

                        <form method="post" action="/Order/Review">
                            <input type="hidden" name="cartItemId" value="@item.Id" />
                            <input type="hidden" name="dressId" value="@item.DressId" />
                            <input type="hidden" name="quantity" value="@item.Quantity" />
                            <button type="submit" class="order-btn">ORDER</button>
                        </form>

                    </div>

                </div>
            }

        </div>
    }

</body>
</html>